.blinking-marker {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 17, 255, 0.438);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

.blinking-marker .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.blinking-marker .arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid blue;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Ícono estático */
.static-marker {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 50%;
}

.static-marker .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.leaflet-routing-alternatives-container {
  display: none;
}
